# Dependências (Nunca suba a pasta node_modules)
node_modules/

# Variáveis de Ambiente (CRUCIAL: Não suba suas senhas do banco!)
.env

# Logs e arquivos de depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de editores
.vscode/
.idea/